{% include 'hon_sen/hon.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link href="{% static '/css/hon.css'  %}" rel="stylesheet" type="text/css">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <center>
    <div class="About">
    <h1>About Us</h1>
    <h4>Our objective is to have a database to every newborn that started to get vaccinated. As We </h4>
    <h4>observed, mothers who carry their babies/children waiting in queue in health centers waiting to </h4>
    <h4>have a shot holding a piece of booklet as their reference on what is the next vaccine to be </h4>
    <h4>administered. As we talked to some mothers some of them forgot on when did their </h4>
    <h4>babies got vaccinated and what type of vaccine was given, they rely too much to the baby book </h4>
    <h4>they are holding. What if an unforeseen event happened ? What if the booklet got damaged or lost?</h4>
    <h4>How are they going backtrack the shots? and so, I came up with the idea that it is best that </h4>
    <h4>there should be an e-baby booklet as a guide not only to parents but also to healthcare </h4>
    <h4>professionals so that they may have a reference on what vaccine is next to be administered </h4>
    <h4>even if they (parents) don’t have the booklet on their hands because the information is readily </h4>
    <h4>available online.</h4>
    </div>
</center>

</body>
</html>