{% include 'hon_sen/hon.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link href="{% static '/css/hon.css'  %}" rel="stylesheet" type="text/css">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <center>
    <div class="contact">
        <h1>Contact Us</h1>

        <h3>Telephone No:</h3>
        <h4>09618116504</h4>
        <br>
        <h3>Email Address:</h3>
        <h4>tolentino.ian2006@gmail.com</h4>
    </div>
    </center>

</body>
</html>