<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <lin>e-My Child Health Guide</lin>
    <br>
    <br>
    <div class="taskbar">
        <lin1>--</lin1>
        <li1><a href="{% url 'home' %}">Home</a></li1>
        <lil> - </lil>
        <li1><a href="{% url 'about' %}">About Us</a></li1>
        <lil> - </lil>
        <li1><a href="{% url 'contact' %}">Contact</a></li1>
        <lil> - </lil>
        <li1><a href="{% url 'register' %}">Register</a></li1>
        <lil> - </lil>
        <lin1>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</lin1>
    </div>
</body>
</html>
